---
import Layout from "../components/Layout.astro";
---

<Layout title={"Not Found"} description={"Sadman Shami portfolio"}>
  <div class="not_found_container">
    <div>
      <span class="number">404</span>
      <span class="text">Not Found</span>
    </div>
  </div>
</Layout>

<style>
  .not_found_container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
  }

  .number {
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem 2rem;
    border-right: 1px solid var(--color-gray);
  }

  .text {
    font-size: 1rem;
    font-weight: 400;
    padding: 1.5rem;
  }
</style>
