---
import { days, years } from "../config";
interface Card {
  name: string;
  description: string;
  url: string;
  date: Date;
}

const { date, description, name, url } = Astro.props as Card;
---

<div class="card">
  <a href={`/post/${url}`} class="card__link">{name}</a>
  <p class="card__desc">
    {description}
    <a href={`/post/${url}`} class="read__more">Read More &rArr;</a>
  </p>
  <span class="card__date">
    {days[new Date(date).getDay()]}
    {years[new Date(date).getMonth()]}
    {new Date(date).getDate()}
    {new Date(date).getFullYear()}
  </span>
</div>

<style>
  .card {
    margin: 3rem 0;
  }

  .card__link {
    font-size: 1.45rem;
    text-decoration: none;
    color: var(--color-black);
    font-weight: 600;
    display: block;

    margin-bottom: 1rem;
  }

  .read__more {
    color: var(--color-gray);
  }

  .card__desc {
    margin-bottom: 1.5rem;
    font-size: 0.95rem;
  }

  .card__date {
    color: var(--color-gray);
    font-size: 0.9rem;
  }

  @media screen and (max-width: 600px) {
    .card {
      padding: 0.75rem;
    }

    .card__link {
      font-size: 1.25rem !important;
    }

    .card__date {
      font-size: 0.8rem;
    }
  }
</style>
