---
import { days, years } from "../config";

const { date } = Astro.props as { date: Date };
---

<span class="card__date">
  {days[new Date(date).getDay()]}
  {years[new Date(date).getMonth()]}
  {new Date(date).getDate()}
  {new Date(date).getFullYear()}
</span>

<style>
  .card__date {
    color: var(--color-gray);
    font-size: 0.9rem;
  }

  @media screen and (max-width: 600px) {
    .card__date {
      font-size: 0.8rem;
    }
  }
</style>
